<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{title}}</h1>
    <h3>{{description}}</h3>
  </div>

  <nav>
    <a routerLink="customers" class="btn btn-primary active" role="button" routerLinkActive="active">Customers</a>
    <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add</a>
  </nav>

  <router-outlet></router-outlet>

  <!-- <div style="width: 300px;">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="item">Item</label>
          <input type="text" class="form-control"
            placeholder="Enter content..." id="item"
            required [(ngModel)]="itemValue" name="item">
        </div>

        <div class="btn-group">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
</div>

<div class="col-md-3">
    <h2>Content from Firebase</h2>

      <pre *ngFor="let item of items | async">{{item.content}}</pre>
  </div> -->


</div>
